{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<header class="center-row">
    <div class="header-left-side center-row">
        <h2>Mauricio Antonio</h2>
    </div>
    <nav class="hader-right-slide center-row">
        <div class="nav-item  center-row">
            <a href="{% url 'about'%}"> ABOUT ME</a>
            <a href=""> PROJECTS</a>
            <a href="{% url 'experience_list' %}"> EXPERIENCE</a>
            <a href=""> CONTACT</a>
        </div>
    </nav>
</header>

<div class="proyects-section">
    <div class="proyec-item">
        <div class="proyect-image-container">
            <img scr="" alt="img">
        </div>
        <h3>Proyect Name</h3>
        <p>About the Proyect</p>
    </div>
</div>
<body>
    <!-- <p>Hello Word!!</p> -->

    {% block content  %}
    
    {% endblock content %}

</body>
</html>