{% extends 'pages/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block content %}

<div class="experience-section center-column">

    <h2>My Experience</h2>

    <div class="experience-list">

        <div class="experience-card">
            <p>Colegio Nacional de Educación Profesional Técnica</p>
            <p>Technical Professional in Accounting</p>
            <p>A Technical Professional in Accounting, skilled in financial analysis, bookkeeping, and preparing financial statements, with a strong foundation in accounting principles and practices.</p>
                    <p>Juny 2016 - Juny 2019</p>

                    <div class="skills-container skill-list center-row">
                        <label class="text-label">Financial Accounting</label>
                        <label class="text-label">Financial Analysis</label>
                        <label class="text-label">Tax Management</label>
                    </div>
        </div>

        <div class="experience-card">
            <p>Instituto Tecnologico de Tijuana</p>
            <p>Ing. Sistem of computacional</p>
            <p>I studied Computer Systems Engineering at the Instituto Tecnológico de Tijuana, where I gained strong knowledge in software development, databases, networking, and operating systems. During my education, I focused on problem-solving and creating innovative solutions, developing both technical skills and teamwork abilities.</p>
                    <p>March 2019 - Juny 2023</p>

                    <div class="skills-container skill-list center-row">
                        <label class="text-label">Problem Solving</label>
                        <label class="text-label">Software Development</label>
                        <label class="text-label">Teamwork and Communication</label>
                    </div>
        </div>

        <div class="experience-card">
            <p>Foxconn Baja California</p>
            <p>Coordinator</p>
            <p>This is my first job, providing an opportunity to enhance and strengthen my development skills while gaining hands-on experience in real-world projects.</p>
                    <p>August 2023 - Actuality</p>

                    <div class="skills-container skill-list center-row">
                        <label class="text-label">Project Management</label>
                        <label class="text-label">Interdisciplinary Collaboration</label>
                        <label class="text-label">Adaptation to New Technologies</label>
                    </div>
        </div>

    </div>

</div>

{% endblock content %}