{% extends 'pages/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block content %}

<div class="experience-section center-column">

    <h2>My Experience</h2>

    <div class="experience-list">

        <div class="experience-card">
            <p>Name of the School or Company</p>
            <p>Name of the Program or Job Position</p>
            <p>A short description about the program or the job position .</p>
                    <p>Month YYYY - Month YYYY</p>

                    <div class="skills-container skill-list center-row">
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                    </div>
        </div>

        <div class="experience-card">
            <p>Name of the School or Company</p>
            <p>Name of the Program or Job Position</p>
            <p>A short description about the program or the job position .</p>
                    <p>Month YYYY - Month YYYY</p>

                    <div class="skills-container skill-list center-row">
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                    </div>
        </div>

        <div class="experience-card">
            <p>Name of the School or Company</p>
            <p>Name of the Program or Job Position</p>
            <p>A short description about the program or the job position .</p>
                    <p>Month YYYY - Month YYYY</p>

                    <div class="skills-container skill-list center-row">
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                    </div>
        </div>

    </div>

</div>

{% endblock content %}